@font-face {
font-family: Ubuntu;
src: url("./fonts/ubuntu.ttf")
}

html, body {
    
}

body {
    display:flex;
    flex-direction: column;
    gap: 10vh;
    font-family: Ubuntu;
    background-color: black;
    color: white;
}

header {
    margin: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.8rem;
    font-size: 2.5rem;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
    color: white;
    background-color: #3b3a3a;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.description {
    font-size: 1.5rem;
    width: 100vh;
}

.list-of-tech {
    display: flex;
    gap: 20px;
}

.icon {
    width: 100px;

}



.profile-pic {
    width: 50vh;
    border-radius: 3px;
}

.projects-title {
    font-size: 2rem;
}

.project-card-container {
    display:flex;
    justify-content: center;
    gap: 50px;

}

.card-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}


.card {
    
    width: 15vw;
    max-width: 250px;
    margin-bottom: 100px;
    padding: 5px;
}

.card:hover {
    border: 1px solid white;
    border-radius: 10px;
}

.card-img {
    width: 100%;
    height: 23vh;
}

a {
    text-decoration: none;
    color: white;
}

@media (min-width: 2500px) {
    header {
        justify-content: space-around;
    }
}

@media (max-width: 1100px) {
    header {
        font-size: 1.5rem;
        padding: 3px;
    }

    .project-card-container {
        gap: 25px;
    }

    .icon {
        width: 50px; 
    }

    .profile-container {
        flex-direction: column;

    }

    main {
        gap: 50px;
    }

    .list-of-tech {
        gap: 10px;
    }
}